<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item" *ngIf="!key.kc.authenticated">
          <a class="dropdown-item nav-link" (click)="onLogin()" >Log in</a>
        </li>
        <li class="nav-item" *ngIf="isAppManager()">
          <a class="nav-link" routerLink="/student">Student</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <div class="dropdown"  aria-labelledby="dropdownMenuButton" *ngIf="key.kc.authenticated">

          <button type="button" class="btn btn-secondary btn-lg" disabled>{{name.name}}</button>
          <div class="dropdown-content">
            <a class="btn dropdown-item clickable"  (click)="onLogout()">Logout</a>
            <a class="dropdown-item clickable " (click)="onChangePassword()" >Change Password</a>
          </div>
        </div>
        <div class="dropdown" *ngIf="!key.kc.authenticated">

          <button type="button" class="btn btn-secondary btn-lg" disabled>Welcome</button>
          <div class="dropdown-content">
            <a class="btn dropdown-item" (click)="onLogin()">Log in</a>


          </div>
        </div>



      </form>
    </div>
  </div>
</nav>
